PROJECT_NAME=WPC_TESTS
DB_NAME=wpc-tests
DB_USER=wordpress
DB_PASSWORD=wordpress
DB_ROOT_PASSWORD=wordpress
DB_HOST=mysql

PHP_VERSION=8.2
XDEBUG_PORT=9020
XDEBUG_MODE=debug
XDEBUG_IDE_KEY=PHPSTORM
EXTENSIONS_DISABLE=""
